<header>
    <nav class="navbar navbar-expand-lg navbar-light ">
        <div class=" container-fluid ">
            <div>
                <a class="navbar-brand" style="color: white; font-weight: 800;" href="#">Zaka Parts</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
            </div>



            <div class="d-flex justify-content-end collapse navbar-collapse" id="navbarSupportedContent">
                <div>
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link active" style="color: white;" aria-current="page" routerLink="/">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" style="color: white;" aria-current="page"
                                routerLink="/blogs">Blogs</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" style="color: white;" aria-current="page"
                                routerLink="/portfolio">Portfolio</a>
                        </li>

                        <li *ngIf="isLoggedIn" class="nav-item">
                            <a class="nav-link active" style="color: white;" aria-current="page"
                                routerLink="/dashboard">Dashboard</a>
                        </li>
                        <li *ngIf="!isLoggedIn" class="nav-item">
                            <button routerLink="/login" type="button" class="btn btn-outline-light">Login</button>

                            <!-- <a class="nav-link active" style="color: white;" aria-current="page"
                                >Login</a> -->
                        </li>

                    </ul>
                </div>

            </div>
        </div>
    </nav>

</header>